body{
background-color:aqua;
}
table{
font-size:20px;
color:black;
}
button{
background-color:pink;
}
#submit{
background-color:pink;
}
input{
background-color:yellow;
}
#demomsg{
color:green;
font-weight:bold;
}
.para{
font-size:25px;
color:green;
}